<div class="row">
    <div class="col-md-8">
        <h1><%= @regapp.name %></h1>    
    </div>
    <div class="col-md-4">
        <%= link_to "Delete Application", @regapp, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'} %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= link_to @regapp.url, "#{@regapp.url}", :target => '_blank' %> 
    </div>
</div>

<div class="row">
    <% @events.each do |event_name, array| %>
        <div class="col-md-6">
            <p><%= event_name %></p>
        </div>
        <div class="col-md-2">
            <p><%= array.count %></p>
        </div>
    <% end %>
</div>

