<div class="application-header">
    <h1 class="pull-left"><%= @regapp.name %></h1>
    <div class="pull-right">
        <%= link_to "Delete Application", @regapp, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'} %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= link_to @regapp.url, "#{@regapp.url}", :target => '_blank' %> 
    </div>
</div>
<br>
<ul class="list-group">
    <% @events.each do |event_name, array| %>
        <li class="list-group-item">
        <span class="badge"><%= array.count %></span>
        <%= event_name %>
        </li>
    <% end %>    
</ul>
<br>


